load STM32F407VETx
# 配置时钟为外部高速晶振
set mode RCC "HSE-External-Oscillator"
set mode SYS "Serial Wire"
# 用 TIM6 作为系统时钟
set mode SYS "TIM7"
#
project couplefilesbyip 1
project toolchain "{toolchain}"
{{ if generate_under_root }}
project generateunderroot 1
{{ endif }}
SetStructure Advanced
SetCopyLibrary "copy only"
# 配置 FreeRTOS
set mode FreeRTOS CMSIS_V2
set ip parameters FreeRTOS configENABLE_FPU 1
set ip parameters FreeRTOS Tasks01 "defaultTask,16,128,StartDefaultTask,As weak,NULL,Dynamic,NULL,NULL;init,55,128,Init,As external,NULL,Dynamic,NULL,NULL"
#
#project path {project_dir}
#project name {project_name}
#project save
config saveas {ioc_file_path}
#
exit