#RZONE File : STM32_DIE483_564_512
#Tue Oct 07 23:03:40 CST 2025
MMTAppReg1.MEMORYMAP.AppRegionName=DTCMRAM
MMTAppReg1.MEMORYMAP.ContextName=Cortex-M7NS
MMTAppReg1.MEMORYMAP.CoreName=Arm Cortex-M7
MMTAppReg1.MEMORYMAP.IPParameters=StartAddress,Size,CoreName,ContextName,Name
MMTAppReg1.MEMORYMAP.Name=DTCMRAM
MMTAppReg1.MEMORYMAP.Size=131072
MMTAppReg1.MEMORYMAP.StartAddress=0x20000000
MMTAppReg2.MEMORYMAP.AppRegionName=RAM_AXI
MMTAppReg2.MEMORYMAP.Cacheability=NonCacheable
MMTAppReg2.MEMORYMAP.ContextName=Cortex-M7NS
MMTAppReg2.MEMORYMAP.CoreName=Arm Cortex-M7
MMTAppReg2.MEMORYMAP.DefaultDataRegion=false
MMTAppReg2.MEMORYMAP.IPParameters=StartAddress,Size,CoreName,ContextName,Name,DefaultDataRegion,Cacheability
MMTAppReg2.MEMORYMAP.Name=RAM_AXI
MMTAppReg2.MEMORYMAP.Size=131072
MMTAppReg2.MEMORYMAP.StartAddress=0x24000000
MMTAppReg3.MEMORYMAP.AppRegionName=RAM_D2
MMTAppReg3.MEMORYMAP.ContextName=Cortex-M7NS
MMTAppReg3.MEMORYMAP.CoreName=Arm Cortex-M7
MMTAppReg3.MEMORYMAP.IPParameters=StartAddress,Size,CoreName,ContextName,Name
MMTAppReg3.MEMORYMAP.Name=RAM_D2
MMTAppReg3.MEMORYMAP.Size=32768
MMTAppReg3.MEMORYMAP.StartAddress=0x30000000
MMTAppReg4.MEMORYMAP.AppRegionName=RAM_D3
MMTAppReg4.MEMORYMAP.ContextName=Cortex-M7NS
MMTAppReg4.MEMORYMAP.CoreName=Arm Cortex-M7
MMTAppReg4.MEMORYMAP.IPParameters=StartAddress,Size,CoreName,ContextName,Name
MMTAppReg4.MEMORYMAP.Name=RAM_D3
MMTAppReg4.MEMORYMAP.Size=16384
MMTAppReg4.MEMORYMAP.StartAddress=0x38000000
MMTAppReg5.MEMORYMAP.AppRegionName=ITCMRAM
MMTAppReg5.MEMORYMAP.Cacheability=WTRA
MMTAppReg5.MEMORYMAP.ContextName=Cortex-M7NS
MMTAppReg5.MEMORYMAP.CoreName=Arm Cortex-M7
MMTAppReg5.MEMORYMAP.IPParameters=StartAddress,Size,CoreName,ContextName,Name,Cacheability
MMTAppReg5.MEMORYMAP.Name=ITCMRAM
MMTAppReg5.MEMORYMAP.Size=65536
MMTAppReg5.MEMORYMAP.StartAddress=0x00000000
MMTAppReg6.MEMORYMAP.AP=RO_priv_only
MMTAppReg6.MEMORYMAP.AppRegionName=FLASH
MMTAppReg6.MEMORYMAP.Cacheability=WTRA
MMTAppReg6.MEMORYMAP.ContextName=Cortex-M7NS
MMTAppReg6.MEMORYMAP.CoreName=Arm Cortex-M7
MMTAppReg6.MEMORYMAP.DefaultCodeRegion=true
MMTAppReg6.MEMORYMAP.IPParameters=StartAddress,Size,CoreName,MemType,ContextName,Name,AP,Cacheability,DefaultCodeRegion,ISRRegion,RootBootRegion
MMTAppReg6.MEMORYMAP.ISRRegion=true
MMTAppReg6.MEMORYMAP.MemType=ROM
MMTAppReg6.MEMORYMAP.Name=FLASH
MMTAppReg6.MEMORYMAP.RootBootRegion=true
MMTAppReg6.MEMORYMAP.Size=524288
MMTAppReg6.MEMORYMAP.StartAddress=0x08000000
MMTAppReg7.MEMORYMAP.AppRegionName=RAM
MMTAppReg7.MEMORYMAP.ContextName=Cortex-M7NS
MMTAppReg7.MEMORYMAP.CoreName=Arm Cortex-M7
MMTAppReg7.MEMORYMAP.DefaultDataRegion=true
MMTAppReg7.MEMORYMAP.IPParameters=StartAddress,Size,CoreName,ContextName,Name,DefaultDataRegion
MMTAppReg7.MEMORYMAP.Name=RAM
MMTAppReg7.MEMORYMAP.Size=196608
MMTAppReg7.MEMORYMAP.StartAddress=0x24020000
MMTAppReg8.MEMORYMAP.AppRegionName=BKUPRAM
MMTAppReg8.MEMORYMAP.Cacheability=NonCacheable
MMTAppReg8.MEMORYMAP.ContextName=Cortex-M7NS
MMTAppReg8.MEMORYMAP.CoreName=Arm Cortex-M7
MMTAppReg8.MEMORYMAP.IPParameters=StartAddress,Size,CoreName,ContextName,Name,Cacheability
MMTAppReg8.MEMORYMAP.Name=BKUPRAM
MMTAppReg8.MEMORYMAP.Size=4096
MMTAppReg8.MEMORYMAP.StartAddress=0x38800000
MMTAppRegionsCount=8
MMTConfigApplied=true
MMTProjectManagerApplied=true
Mcu.Rzone=STM32_DIE483_564_512
Mcu.TrustZoneEnabled=false
